* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body { background-color: #F0F0F0;}

header {
    background-color: #1F4E79;
    width: 100%;
    top: 0;
    padding: 10px 0;
    position: fixed;
}


/* Logo */
.logo{
    display: flex;
    flex-direction: row;
    color: #F2C94C;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.logo img {
    width: 60px;
    height: 60px;
}


/* Menú*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: #1F4E79;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
    display: flex; 
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: 1;
}

nav ul li a:hover {
    color: #F2C94C;
}

/* Menú hamburguesa para pantallas pequeñas */
.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #FFFFFF;
}


/* Frontal foto*/
.frontal {
    background-color: #333333;
    color: #FFFFFF;
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
    margin-top: -15px;
    background-image: url(imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}


/* Filtros y búsqueda*/
.filtro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.filtro > button {
    background-color: #F2C94C;
    color: #333333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 6px #333333;
    height: 50px;
    flex: 1 1 200px;
    max-width: 250px;
    min-width: 150px;
}

.filtro > button:hover {
    background-color: #333333;
    color: #F2C94C;
}

.filtro > input[type="text"] {
    padding: 5px;
    border: solid 1px #1F4E79;
    box-shadow: 0 4px 6px #333333;
    border-radius: 3px;
    height: 50px;
    flex: 1 1 250px;
    max-width: 350px;
    min-width: 200px;
}


/* Productos */
main {
    margin-top: 80px;
    padding: 20px;
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
}

.producto-card {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.producto-card:hover {
    box-shadow: 0 6px 12px #F2C94C;
}

.producto-card img {
    max-width: 100%;
}

.producto-card h2 {
    font-family: 'Montserrat', sans-serif;
    color: #1F4E79;
    margin: 13px 0;
}

.producto-card p {
    margin-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
}

.producto-card button {
    background-color: #1F4E79;
    color: #FFFFFF;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center; 
    justify-content: center; 
    gap: 8px; 
    height: 50px; 
    
}

.producto-card button .icono {
    font-size: 16px;
    display: inline-block;
}
.producto-card button:hover {
    background-color: #F2C94C;
    color: #333333;
}


/* Footer*/
footer {
    background-color: #333333;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

footer p {
    margin-top: 80px;
    color: #F2C94C;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

footer img {
    position: relative;
        top: -40px;
    width: 300px;
    height: 300px;
}


/* Pantallas pequeñas*/
@media (max-width: 768px) {
    nav {
        flex-direction: row;
        padding: 10px 20px;
    }

    .menu-toggle {
        display: block; 
        align-self: flex-end;
    }

    nav ul {
        background-color: #1F4E79;
        display: none;
        flex-direction: column; 
        position: relative;
            left: 150px;
        width: 100%;
        text-align: right;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul.show {
        display: flex;
    }

    .frontal {
        margin-top: 5px;
    }
    .filtro {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin-bottom: -5px;
    }

    .filtro > button, .filtro > input[type="text"] {
        width: 100%;
        max-width: 250px;
        max-height: 30px;
       
    }

    .productos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        padding: 20px;
    }

    .producto-card .botones {
        flex-direction: column;
        gap: 10px;
    }

    .producto-card button {
        width: 100%;
        max-width: 300px;
        max-height: 50px;
        margin: 5px;

    }
}