.container {
    height: 800px;
    border: 1px solid rgb(3, 3, 3);
    display: flex;
    flex-wrap: column;
    background-color: aqua;
}

.columna1{
    width: 50%;
}

.columna2{
    width: 50%;
}

.green{
    background-color: rgb(19, 202, 34);
    border: 8px solid rgb(248, 245, 245);
    width: 400px;
}

.blue{
    background-color: rgba(16, 74, 235, 0.568);
    border: 8px solid rgb(248, 245, 245);
    width: 400px;
}

.red{
    border: 8px solid rgb(248, 245, 245);
    background-color: rgba(248, 10, 10, 0.568);
    width: 400px;
  
}

.purple{
    border: 8px solid rgb(248, 245, 245);
    background-color: rgba(122, 5, 255, 0.568);
    width: 400px;
}


