.container {
    display: flex;
    height: 300px;
    flex-direction:row;
    border: 1px dotted black;
}

.blue{
    background-color: blue;
    width: 33%;
    height: 300px;
}

.white{
    background-color: rgb(255, 255, 255);
    width: 33%;
    height: 300px;
}

.red{
    background-color: rgb(253, 0, 0);
    width: 33%;
    height: 300px;
}